<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAQ0ochuPxMJV1M8Fw0R9PacrOfkXR63M</string>
	<key>GCM_SENDER_ID</key>
	<string>165866806807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCourseAug23AsyncronousProgrammingAndApiHttpRequests</string>
	<key>PROJECT_ID</key>
	<string>new-project-32862382</string>
	<key>STORAGE_BUCKET</key>
	<string>new-project-32862382.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165866806807:ios:d8a14b120ff0bd16b30652</string>
</dict>
</plist>